<p>ようこそ、ながのCAKEへ！</br>
このサイトは、ケーキ販売のECサイトになります。</br>
会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。</p>

<h1>新着商品</h1>
<ul>
  <li>商品</br>
  ¥0,000
  </li>
  <li>商品</br>
  ¥0,000
  </li>
  <li>商品</br>
  ¥0,000
  </li>
  <li>商品</br>
  ¥0,000
  </li>
  </ul>
  <li><%= link_to "すべての商品を見る", 〇〇_path %>
  </li>
</div>
