<div class="row">
    <div class="col-md-3">
	<h2>商品一覧</h2>(全X件)
	 <div class="item-wrap">
	  <% @item.each do |item|%>
	<div class="item-box">
	  <%= image_tag item.get_image(200,150) %>
  <div class="item-comment">
   <span class="item-name"><%= link_to item.name,public_item_path(item.id) %></span><br>
   <span class="item-price"><%= (item.price * 1.1).floor %></span>
  </div>
  </div>
  <% end %>
 </div>
 <%= paginate @item %>
</div>
</div>